[submodule "modules/MCcubed"]
	path = lisa/modules/MCcubed
	url = https://github.com/mdhimes/mc3
[submodule "modules/PolyChordLite"]
	path = lisa/modules/PolyChordLite
	url = https://github.com/PolyChord/PolyChordLite
[submodule "lisa/modules/PyDREAM"]
	path = lisa/modules/PyDREAM
	url = https://github.com/mdhimes/PyDREAM
